<div class="burger">
    <div class="burger__wrapper">
        <a class="logo" href="/">
            <img class="logo__img" src="./images/logo/logo.png" alt="logo">
            <use href="./images/symbol-defs.svg/#icon-logo"></use>
            </svg>
        </a>
        <button class="menu__close_button">
            <svg class="menu__toggle_icon" width="40" height="40" fill="white" stroke="white">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
        <ul class="burger__menu">
            <li class="burger__menu_item">
                <a href="#about">About us</a>
            </li>
            <li class="burger__menu_item">
                <a href="#tours">Tours</a>
            </li>
            <li class="burger__menu_item">
                <a href="#gallery">Gallery</a>
            </li>
            <li class="burger__menu_item">
                <a href="#contacts">Contacts</a>
            </li>
        </ul>
</div>
