<footer class="footer">
        <div class="footer__wrapper">
            <a href="/">
                <img class="footer__logo" src="./images/logo/Logofooter_logo.png" alt="">
            </a>
            <ul class="footer__menu">
                <li class="menu__item">
                    <a href="#about">About us</a>
                </li>
                <li class="menu__item">
                    <a href="#tours">Tours</a>
                </li>
                <li class="menu__item">
                    <a href="#gallery">Gallery</a>
                </li>
                <li class="menu__item">
                    <a href="#contacts">Contacts</a>
                </li>
            </ul>
            <div class="contscts__wrapper">
                <ul class="contacts">
                    <li class="contacts__item"><a class="contacts__link" href="tel:+380971231111">+38 (097)-123-11-11</a></li>
                    <li class="contacts__item"><a class="contacts__link" href="mailto:wonders_of_ua@gmail.com">wonders_of_ua@gmail.com</a></li>
                    <li class="contacts__item">Lviv, Zaporyzhka 198</li>
                </ul>
                <ul class="footer__socials">
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg/#icon-inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.facebook.com/?locale=uk_UA" target="_blank" rel="noopener noreferrer">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg/#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg/#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="rights">© All Rights Reserved</p>
    </footer>