<footer class="footer">
        <div class="footer__wrapper">
            <img class="footer__logo" src="./images/logo/Logofooter_logo.png" alt="">
            <ul class="footer__menu">
                <li class="menu__item">About us</li>
                <li class="menu__item">tours</li>
                <li class="menu__item">gallery</li>
                <li class="menu__item">contacts</li>
            </ul>
            <div class="contscts__wrapper">
                <ul class="contacts">
                    <li class="contacts__item">+38097-123-11-11</li>
                    <li class="contacts__item">WondersOfUkraine@gmail.com</li>
                    <li class="contacts__item">Lviv, Zaporyzhka, 198</li>
                </ul>
                <ul class="footer__socials">
                    <li class="footer__socials_item">inst</li>
                    <li class="footer__socials_item">fb</li>
                    <li class="footer__socials_item">tg</li>
                </ul>
            </div>
        </div>
        <p class="rights">© All Rights Reserved</p>
    </footer>