<section class="gallery section" id="gallery">
    <div class="gallery__wrapper">
        <h2 class="gallery__caption section__name">Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <img src="./images/gallery/photo3.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo2.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo1.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo4.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo5.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo6.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo7.jpg" alt="" class="gallery__img">
            </li>
            <li class="gallery__item">
                <img src="./images/gallery/photo8.jpg" alt="" class="gallery__img">
            </li>
        </ul>
        <div class="gallery__btns_wrapper">
            <button class="prev js-prev-slide">
                <svg class="prev__svg">
                    <use href="./images/symbol-defs.svg/#icon-previous"></use>
                </svg>
            </button>
            <button class="next js-next-slide">
                <svg class="prev__svg">
                    <use href="./images/symbol-defs.svg/#icon-next"></use>
                </svg>
            </button>
        </div>
    </div>
</section>