<section class='hero'>
    <div class="hero__wrapper">
        <h1 class="caption">Unlock the Wonders
            of <span class="caption__span">Ukraine</span></h1>
        <button class="hero__btn">Our tours</button>
        <ul class="socials">
            <li class="socials__item">
                <svg class="" width="24" height="24">
                  <use href="./images/symbol-defs.svg/#icon-inst"></use>
                </svg>
            </li>
            <li class="socials__item">
                <svg class="" width="24" height="24">
                  <use href="./images/symbol-defs.svg/#icon-facebook"></use>
                </svg>
            </li>
            <li class="socials__item">
                <svg class="" width="24" height="24">
                  <use href="./images/symbol-defs.svg/#icon-telegram"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>