<section class="reviews section">
    <div class="reviews__wrapper">
        <h2 class="reviews__caption section__name">Reviews</h2>
        <div class="swiper">
            <ul class="reviews__list " navigation="true" pagination="true" keyboard="true" mousewheel="true">
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/dmitro.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Dmytro</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">It was an incredible trip and I am very grateful to the organizers for the
                        opportunity to learn more about our country</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/alisa.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Alisa</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">I really like to travel and try to do it as often as possible. The last one
                        was to Lake Synevir and it was very cool, a
                        great route, a comfortable bus, delicious food. I will definitely go somewhere else with you</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/marry.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Marry</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">It was an incredible trip and I am very grateful to the organizers for the
                        opportunity to learn more about our country</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/fedir.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Fedir</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">We traveled with a company and it was incredible, everyone without exception was
                        satisfied and we will definitely go
                        somewhere else with you and will recommend it to everyone</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/anastasia.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Anastasia</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">Professional guides, comfortable transport, excellent hotels and exciting excursions
                        - it was unforgettable! I recommend
                        this company to anyone who wants to get the best experience out of their trip.</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/victoria.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Victoria</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">I felt cozy and comfortable throughout the tour. Would have liked a little more free
                        time to explore on my own, but
                        overall was happy with the tour.</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/valeriy.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Valeriy</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">My trip on the tour with this site was unforgettable! Excellent organization,
                        comfortable hotels and exciting
                        excursions. Every detail was carefully thought out and I could enjoy every moment without any worries.</p>
                </li>
                <li class="reviews__item swiper-slide">
                    <img src="./images/reviews/ilona.png" alt="" class="review__img">
                    <div class="name__wrapper">
                        <p class="review__name">Ilona</p>
                        <p class="review__stars">★★★★★</p>
                    </div>
                    <p class="review__comment">My tour with this agency was incredible! Everything was organized to a high standard,
                        including transport, accommodation
                        and excursions. The guides were very professional and knew every corner of the place where we were going.
                    </p>
                </li>
            </ul>
        </div>

        <div class="reviews__btns_wrapper">
            <button class="prev__review">
                <svg class="prev__review_icon" >
                    <use href="./images/symbol-defs.svg/#icon-previous"></use>
                </svg>
            </button>
            <button class="next__review">
                <svg class="next__review_icon" >
                    <use href="./images/symbol-defs.svg/#icon-next"></use>
                </svg>
            </button>
        </div>
    </div>
</section>


<!-- <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Відгук 1</div>
        <div class="swiper-slide">Відгук 2</div>
        <div class="swiper-slide">Відгук 3</div>
        <div class="swiper-slide">Відгук 4</div>
        <div class="swiper-slide">Відгук 5</div>
        <div class="swiper-slide">Відгук 6</div>
        <div class="swiper-slide">Відгук 7</div>
        <div class="swiper-slide">Відгук 8</div>
    </div>
    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button>
</div> -->