<section class="reviews section">
    <div class="reviews__wrapper">
        <h2 class="reviews__caption section__name">Reviews</h2>
        <ul class="reviews__list">
            <li class="reviews__item">
                <img src="./images/reviews/dmitro.png" alt="" class="review__img">
                <div class="name__wrapper">
                    <p class="review__name">Dmytro</p>
                    <p class="review__stars">★★★★★</p>
                </div>
                <p class="review__comment">It was an incredible trip and I am very grateful to the organizers for the
                    opportunity to learn more about our country</p>
            </li>
            <li class="reviews__item">
                <img src="./images/reviews/alisa.png" alt="" class="review__img">
                <div class="name__wrapper">
                    <p class="review__name">Alisa</p>
                    <p class="review__stars">★★★★★</p>
                </div>
                <p class="review__comment">I really like to travel and try to do it as often as possible. The last one
                    was to Lake Synevir and it was very cool, a
                    great route, a comfortable bus, delicious food. I will definitely go somewhere else with you</p>
            </li>
            <!-- <li>
                        <img src="/" alt="">
                        <p>Marry</p>
                        <p>stars</p>
                        <p>Great tour. I really liked the atmosphere, professional approach and very interesting information</p>
                    </li>
                    <li>
                        <img src="/" alt="">
                        <p>Fedir</p>
                        <p>stars</p>
                        <p>We traveled with a company and it was incredible, everyone without exception was satisfied and we will definitely go
                        somewhere else with you and will recommend it to everyone</p>
                    </li> -->
        </ul>
    </div>
</section>