<section class="tours section" id="tours">
    <div class="tours__wrapper">
        <h2 class="tours__caption section__name">Our tours</h2>
        <ul class="tours__list">
            
            <li class="tour">
                <img src="./images/tours/lake.jpg" alt="" class="tour__img" />
                <p class="tour__name">Lake Synevyr and Shipit waterfall</p>
                <ul class="route">
                    <li class="route__item">Departure from Lviv (07:00) / Stryi (08:00)</li>
                    <li class="route__item">Pylypets (overview of Shipit waterfall and lunch)</li>
                    <li class="route__item">Synevyr Pass (photographing and viewing of Carpathian panoramas)</li>
                    <li class="route__item">"Synevyr" National Park (brown bear rehabilitation center and transition to the lake)
                    </li>
                    <li class="route__item">Dinner (Old Piano restaurant)</li>
                    <li class="route__item">Stryi (21:00)/Lviv (return by 22:00)</li>
                </ul>
                <div class="included">
                    <p class="included__caption">Included</p>
                    <ul class="included__list">
                        <li class="included__item">
                           <svg class="included__item_svg" width="24" height="24" fill="white">
                             <use href="./images/symbol-defs.svg/#icon-transfer"></use>
                           </svg>
                            <p>Transfer</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-id_card"></use>
                            </svg>
                            <p>Travel insurance</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-face"></use>
                            </svg>
                            <p>Professional guide</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-ticket"></use>
                            </svg>
                            <p>Tickets</p>
                        </li>
                    </ul>
                </div>
                <div class="book">
                    <button class="book__btn" id="bookTour">Book</button>
                    <p class="book__price">Price: <span class="book__price_span">2000UAH</span></p>
                </div>
            </li>
            <li class="tour">
                <img src="./images/tours/ancient.jpg" alt="" class="tour__img" />
                <p class="tour__name">Ancient History & Vibrant Present</p>
                <ul class="route">
                    <li class="route__item">Departure from Kiev (08:00)</li>
                    <li class="route__item">St. Sophia's Cathedral (iconic UNESCO World Heritage site)</li>
                    <li class="route__item">Golden Gate (historical monument visit)</li>
                    <li class="route__item">Bessarabsky Market (tasting local delicacies)</li>
                    <li class="route__item">Kiev Pechersk Lavra (exploration of the significant monastery)</li>
                    <li class="route__item">Return to Kiev by 20:00</li>
                </ul>
                <div class="included">
                    <p class="included__caption">Included</p>
                    <ul class="included__list">
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-transfer"></use>
                            </svg>
                            <p>Transfer</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-id_card"></use>
                            </svg>
                            <p>Travel insurance</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-face"></use>
                            </svg>
                            <p>Professional guide</p>
                        </li>
                        <li class="included__item">
                            <svg class="included__item_svg" width="24" height="24" fill="white">
                                <use href="./images/symbol-defs.svg/#icon-ticket"></use>
                            </svg>
                            <p>Tickets</p>
                        </li>
                    </ul>
                </div>
                <div class="book">
                    <button class="book__btn" id="bookTour">Book</button>
                    <p class="book__price">Price: <span class="book__price_span">3000UAH</span></p>
                </div>
            </li>
            <li class="tour">
                <img src="./images/tours/blacksea.jpg" alt="" class="tour__img" />
                    <p class="tour__name">Black Sea Jewel</p>
                    <ul class="route">
                        <li class="route__item">Departure from Odessa (08:00)</li>
                        <li class="route__item">Primorsky Boulevard (city's scenic walk)</li>
                        <li class="route__item">Potemkin Steps (historical site and great city view)</li>
                        <li class="route__item">Odessa Opera and Ballet Theatre (exterior visit)</li>
                        <li class="route__item">Lunch at a local seafood restaurant</li>
                        <li class="route__item">Return to Odessa by 20:00</li>
                    </ul>
                    <div class="included">
                        <p class="included__caption">Included</p>
                        <ul class="included__list">
                            <li class="included__item">
                                <svg class="included__item_svg" width="24" height="24" fill="white">
                                    <use href="./images/symbol-defs.svg/#icon-transfer"></use>
                                </svg>
                                <p>Transfer</p>
                            </li>
                            <li class="included__item">
                                <svg class="included__item_svg" width="24" height="24" fill="white">
                                    <use href="./images/symbol-defs.svg/#icon-id_card"></use>
                                </svg>
                                <p>Travel insurance</p>
                            </li>
                            <li class="included__item">
                                <svg class="included__item_svg" width="24" height="24" fill="white">
                                    <use href="./images/symbol-defs.svg/#icon-face"></use>
                                </svg>
                                <p>Professional guide</p>
                            </li>
                            <li class="included__item">
                                <svg class="included__item_svg" width="24" height="24" fill="white">
                                    <use href="./images/symbol-defs.svg/#icon-ticket"></use>
                                </svg>
                                <p>Tickets</p>
                            </li>
                        </ul>
                    </div>
                    <div class="book">
                        <button class="book__btn" id="bookTour">Book</button>
                        <p class="book__price">Price: <span class="book__price_span">3500UAH</span></p>
                    </div>
            </li>
        </ul>
        <div class="btns__wrapper">
            <button class="prev js-prev-tour">
                <svg class="prev__svg" >
                  <use href="./images/symbol-defs.svg/#icon-previous"></use>
                </svg>
            </button>
            <button class="next js-next-tour">
                <svg class="next__svg">
                  <use href="./images/symbol-defs.svg/#icon-next"></use>
                </svg>
            </button>
        </div>
    </div>
</section>