<section class="travel section" id="contacts">
    <div class="travel__wrapper">
        <div class="form__wrapper">
            <div class="info__wrapper">
                <p class="travel__caption">Start travel</p>
                <p class="travel__info">If you want to get an unforgettable trip, quickly fill out the application and
                    we will
                    contact
                    you during the day</p>
                <p class="travel__info">We are ready to answer any questions and help choose the best tour</p>
            </div>
            <form action="" class="form">
                <label class="label" for="name">Name</label>
                <input id="name" class="input" type="text" placeholder="Enter your name">
                <label class="label" for="phone">Phone</label>
                <input class="input" type="text" id="phone" placeholder="+380__-___-__-__">
                <textarea class="message" name="text" id="" cols="30" rows="10" placeholder="Your message
"></textarea>
                <button class="travel__btn">Send</button>
            </form>
        </div>
    </div>
</section>