.gallery {
    padding-block: 100px;
}

.gallery__wrapper {
    margin-inline: auto;
    width: 770px;
}

.gallery__caption {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Jomolhari;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 89.6px */
    letter-spacing: 0.64px;

    margin-bottom: 64px;
}

.gallery__list {
    display: flex;
    gap: 16px;

}

.gallery__img {
    width: 377px;
    height: 494px;
    border-radius: 6px;
}