.reviews {
    padding-block: 32px;
    background-image: url('../images/reviews/bg.jpg');
    background-size: 100% 493px;
    background-repeat: no-repeat;


    @media screen and (min-width: 835px) {
        padding-block: 58px;
        background-size: 100% 640px;
    }

    @media screen and (min-width: 1440px) {
        background-size: 100% 634px;
    }

}

.reviews__wrapper {
    margin-inline: auto;
    width: 343px;

    @media screen and (min-width: 835px) {
       width: 770px;
    }

    @media screen and (min-width: 1440px) {
        width: 1376px;
    }
    
}

.reviews__list {
    gap: 32px;
    margin-bottom: 24px;

    @media screen and (min-width: 835px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1440px) {
        // width: 256px;
        // height: 288px;
    }

}

.reviews__item {
    border-radius: 4px;
    border: 1px solid #fff;
    width: 279px;
    height: 279px;
    padding: 32px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-gap: 24px;

    @media screen and (min-width: 835px) {
        width: 305px;
        height: 268px;
    }

    @media screen and (min-width: 1440px) {
        width: 256px;
        height: 288px;
    }
}

.review__img {
    grid-column: 1;
    grid-row: 1;
    margin-right: 24px;
}

.name__wrapper {
    grid-column: 2;
    grid-row: 1;
}

.review__name {
    color: var(--White, #FFF);

    /* Sub3 */
    font-family: Jomolhari;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.review__stars {
    color: #AE990B;
    font-size: 20px;
}

.review__comment {
    grid-row: 2;
    grid-column: span 2;

    color: var(--White, #FFF);

    /* Body1 */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: 0.16px;
}

.reviews__btns_wrapper {
    display: flex;
    justify-content: space-between;
    width: 343px;

    margin-inline: auto;

    @media screen and (min-width: 835px) {
        width: 770px;
    }

    @media screen and (min-width: 1440px) {
        width: 496px;
    }
}

.prev__review, .next__review {
    background-color: transparent;
    border: none;

    fill: #fff;

    &_icon {
        fill: inherit;
        width: 114px;
        height: 32px;

        @media screen and (min-width: 835px) {
            width: 144px;
        }
        
    }
}
